body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9780d6;
    color: #b77afd;
    padding: 10px 20px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    color: #ecf0f1;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: #3498db;
    color: white;
}

section {
    padding: 50px 20px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

section {
    padding: 20px;
}

footer {
    background-color: #a176be;
    color: rgb(135, 98, 182);
    text-align: center;
    padding: 10px 0;
}